@import "../import/variables";
@import "../import/functions";

footer{
  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .footer-column{
      display: flex;
      flex-direction: column;
      span{
        font-family: @title-font;
        font-weight: 600;
        color: @black-color;
        font-size: @small-title;
        text-transform: uppercase;
      }
      ul {
        li {
          list-style-type: none;
          font-size: @subtitle;
          color: @black-color;
          font-weight: 600;
          text-transform: uppercase;
          a {
            text-decoration: none;
            color: @black-color;
          }
        }
      }
    }
  }
  .footer-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 75px;
    p{
      font-size: @subtitle;
      color: @black-color;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}