section#sectionNav{
  div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    nav#asideNav{
      flex-basis: 20%;
    }
    aside.articles{
      flex-basis: 75%;
    }
  }
}

article.aside {
  span.nav-title{
    opacity: 0;
    padding-top: 150px;
    margin-top: -150px;
    position: absolute;
  }
  div.contents{
    margin-top: 50px;
  }
}

article.aside:first-of-type{
  div.contents{
    margin-top: 0;
  }
}

#asideNav {
  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid @green-color;
    list-style: none;

    li {
      position: relative;
      width: 100%;
      transition: background-color .2s ease-in-out;

      &.active {
        background: @green-color;
        .link {
          color: @white-color;
        }
      }
      &:hover {
        background-color: @green-color;
        .link {
          color: @white-color;
        }
      }
      a {
        transition: color .2s ease-in-out;
        font-weight: 600;
        text-transform: uppercase;
        display: block;
        padding: 10px;
        text-decoration: none;
        white-space: nowrap;
        text-align: center;
        font-size: @paragraph;
        color: @green-color;
      }
    }
  }
}

.subNavigationPosition {
  position: sticky;
  top: 150px;
}

.acf-block-preview{
  article.aside{
    float: unset;
    span.nav-title{
      opacity: 1;
      font-size: 12px;
      left: 0;
    }
  }
  nav#asideNav{
    display: none;
  }
}

